.mainContainer{
	width: 100%;
    height : 100%;
    background-color: white;
}

.headerVec{
	left: 20px;
    top: 0px;
    height: 100px;
 	margin-right : 20px;
    background-color: white;
}

.repairsTitle{
	font-size: 18px;
    color: gray;
}